<%- include('partials/header') %>
<!-- header goes here -->


<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <i class="fa-solid fa-key fa-8x"></i>

      <!--  if no secrets available then do "nothing here" else You've discovered -->
      <% if (userSecrets==undefined) { %>
      <%- `<h1 class="text-3xl font-extrabold my-6">Nothing here... <br> Why not add one. </h1>` %>
      <% } else { %>
      <%- `<h1 class="text-3xl font-extrabold my-6">You've Discovered Some Secrets!</h1>`  %>
      <% } %>
      <%# console.dir(userSecrets.secret);  %>
      <!-- place all submitted secrets here -->
      <!-- read through the list of submitted secrets and output it here -->
      <% for(let secret in userSecrets) { %>
      <%- `<p class="secret-text text-2xl font-sans  my-3"> ${userSecrets}</p>` %>
      <% } %>

      <a href="/logout"><button class="btn w-36  mr-10">Logout</button></a>
      <a href="/submit"><button class="btn btn-primary w-36 mr-5">Submit</button></a>
    </div>
  </div>
</div>

<!-- footer goes here -->
<%- include('partials/footer') %>